<%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <h4><%= question.title %></h3>
        <p><%= question.description %></p>
        <hr>
        <form method="POST" action="/response">
            <h3>Answer</h3>
            <label>Response</label>
            <textarea placeholder="Write your answer" class="form-control" name="body"></textarea><br>            
            <input type="hidden" name="questionId" value="<%= question.id %>">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
        <h3>Responses</h3>
        <% responses.forEach(response => {%>
            <br>
            <div class="card">
                <div class="card-body">
                    <%= response.body %><br>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include("./partials/footer.ejs") %>