<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<div class="container">
    <hr>
    <h2>Categories</h2>
    <a class="btn btn-success" href="/admin/categories/new">New category</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <td><%= category.id %></td>
                    <td><%= category.title %></td>
                    <td><%= category.slug %></td>
                    <td>
                        <button class="btn btn-warning">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include("../../partials/footer.ejs") %>